[2022-03-08 15:26] manuelSanchezYague commented on #702
Hi again @davidjgonzalez !

I have tested that the packages you provided me work with asset-share-commons.all-2.2.0.zip and the WKND project without a problem. I can now restart my AEM normally.

Thanks a lot for helping me and for telling me what was happening.

[2022-03-08 18:23] davidjgonzalez commented on #702
Great news!! Thanks!

[2022-03-09 11:33] venkat603 opened #703 "Issue with contexthub.assetsharecommonscart and cart.store is not a function"
Hi Team,

I am trying to use cart store on AEM 6.5.10 which is from asset-share-commons.  We recently upgraded to 6.5.10 from 6.3.

In 6.3 we used 1.6.10 asset share commons  after upgrading to 6.5.10 we used 2.0.6 asset-share-commons.

We have changed all the paths related to contexthub and cleintlibs to Conf folder.

We are using AssestShare Cart for one of the components while loading the store

[2022-03-12 06:53] SmritiMahto opened #708 "Date fields are not getting mapped correctly"
Hi Team,
We are leveraging ASC URL Asset importer for bulk asset import. We have date format in the excel sheet in MM/DD/YYYY format if the value we input 03/26/2019 the date is coming as 09/26/2008.
Also we are getting many files import failed error, with "Skipped either of the file extension or file size"

Can you please provide us with some inputs on this.

[2022-03-12 16:27] davidjgonzalez commented on #708
Think you have the wrong git repo - can you log that here: https://github.com/Adobe-Consulting-Services/acs-aem-commons

[2022-03-12 16:27] #708 closed

[2022-03-21 15:37] davidjgonzalez opened #709 "[AEM CS] Incorrect download servlet may get selected for AEM CS"
**Describe the bug**

The incorrect download implementation may get selected on AEM CS. This appears to be due to the DownloadService not being available when ASC starts up.

**Environment**
* AEM Version:  AEM CS
* Asset Share Commons Version: 2.2.0
* Author, Publish or both? Both

**To Reproduce**

Deploy to AEM CS a bunch of times, each time checking which Download Servlet is selected. This app

[2022-03-22 13:28] davidjgonzalez commented on #709
Fixed in 2.2.2

[2022-03-22 13:28] #709 closed

[2022-03-22 17:05] madoni commented on #670
@davidjgonzalez ... I saw your update with the fix.... Thank you very much! This did the job!

[2022-03-22 17:29] davidjgonzalez commented on #670
Super! Coincidentally I was testing with a bunch of MOV files the other day and saw the same behavior (qt extension) and it confused me for a moment as well until I remembered your issue :)

[2022-03-22 17:35] davidjgonzalez commented on #670
Could do that as well! I figure this approach would satisfy all use cases since it can have any logic you want; you can match/key-off on patterns, partials, original file extension, looking up into your own custom lookup table, etc.

[2022-03-22 17:43] madoni commented on #670
You're right... this is more than enough for now and solves our immediate issue.

[2022-03-22 18:22] davidjgonzalez commented on #670
a PR with your suggestion is welcome! We could put it after this hook but before the sling one!

[2022-03-23 18:02] epcy2809 opened #711 "Code smells in this bundle"
Upon using this bundle in our project gives the below code smells in the code quality pipeline.

We have the below Critical and Major issues being captured in the AEM as cloud service code qulaity pipeline. Beacuse of which our code quality is score.

[code]

We need this issue to be fixed to improve our code quality score.

THanks!

[2022-03-23 18:08] godanny86 commented on #711
hi @epcy2809 I believe these have been addressed with the latest release. I recommend upgrading to the latest release of ASC. See https://github.com/adobe/asset-share-commons/issues/677 for more details

[2022-03-23 20:05] SmritiMahto opened #712 "Recently uploaded assets in search results"
Hi Team,
We are leveraging ASC search result components for assets search where we have a requirement to get the assets where the assets availabilitystartdate from last 90 days and expiration date greater than the current system date. Can you please let us know how can we achieve this using the search result component.

Thanks,
Smriti Mahto

[2022-03-23 20:24] SmritiMahto opened #713 "to extend the download size limit"
Hi Team,
when downloading the asset of more than 1gb, we get the below error and the download button is also disabled.
Maximum content size of download exceeded Limit 1GB current size is 8.3GB.

We tried changing the limit in the download.html with download.maxContentSize > 30 but is not working.

Is there any other way we can remove/change the download size limit as most of the assets we have are

[2022-03-24 17:57] baldeagle1947 opened #714 "asset type detection on pubishes"
**Describe the bug**
On the publish, the assets are not detected precisely (PDF is marked PDF and not Documents).
it impacts event wich detail page to display in a setup where you have custom behaviors by type (a Document reader in our cas for instance)

**Environment**
* AEM Version: 6.5
* Asset Share Commons Version:  all
* Publish

**To Reproduce**
Steps to reproduce the behavior:
Create a cust

[2022-03-24 18:27] godanny86 commented on #714
hey @baldeagle1947 that is interesting. I didn't think that was the case but can investigate. What version of 6.5 + SP?

[2022-03-24 19:25] baldeagle1947 commented on #714
:)  my tests were on the recent adobe AEM as A cloud SDK - exactly the aem-sdk-2021.10.5933.20211012T154732Z-210900 and some prior version - Equivalent i guess on these matters of ACL to the 6.5 + latest SP

[2022-03-24 19:25] davidjgonzalez commented on #713
@SmritiMahto what version of AEM / ASC are you using?

Sounds like AEM 6.x and ASC 1.x  -- can you take a look at the docs here: https://opensource.adobe.com/asset-share-commons/pages/actions/download/1-x/#update-maxcontentsize-for-the-assetdownloadservlet

and see if that fixes your problem?

[2022-03-24 19:26] #711 closed

[2022-03-24 19:43] davidjgonzalez commented on #712
@SmritiMahto I assume you're saying that all searches must be bounded by these 2 restrictions (ie. they're forces restrictions?)

There are 2 ways to do this:

1.  You can use hidden filter components[1] on the search page to force in query builder conditions. This is a no-code solution but requires maintaining the components search page.

1. You can create a custom `SearchPredicate` [2] that impl

[2022-03-25 17:13] SmritiMahto commented on #712
Hi David,
thanks much for the inputs.
There is one more question, we have ASC share button and when we share any assets either on stage/prod the url is formed as localhost:4503 and then the asset content path.
Can you please let us know how can we change the defaulting url formation for share button functionality.
Appreciate your help!!!

Thanks,
Smriti Mahto

[2022-03-25 17:32] davidjgonzalez commented on #712
Sure!!

Just use the AEM externalizer to specify your author and publish domains!

https://experienceleague.adobe.com/docs/experience-manager-65/developing/platform/externalizer.html?lang=en

[2022-03-27 22:32] SmritiMahto commented on #712
Thanks David,
We noticed one more issue, when clicking load more the query gets changed and gives a different results.
Any pointers on this would help.

Thanks,
Smriti Mahto

[2022-03-28 00:02] davidjgonzalez commented on #712
Hi - can you be more specific? What changes and how?

[2022-03-28 05:02] SmritiMahto commented on #712
Hi David,
We implemented the above requirement to get new assets based on availaibilitystartdate and expirationdate and get the correct results(limited to 20 and then load more button is configured), but when clicking on load more button the query which we formed for fetching to get the new results the query is getting changed and giving wrong results.

Thanks,
Smriti Mahto

[2022-03-28 10:44] davidjgonzalez commented on #712
Which approach did you take, and what are the before/after queries?

[2022-03-28 13:36] SmritiMahto commented on #712
Hi David,
we have formed the query and appended to the page url http://localhost:4502/content/adplanner/en/home/new-asset.html?group.relativedaterange.property=.%2Fjcr%3Acontent%2Fmetadata%2Fedam%3Aavailabilitystartdate&group.relativedaterange.lowerBound=-90d&group.daterange.property%3D%40jcr%3Acontent%2Fmetadata%2Fprism%3AexpirationDate&group.daterange.lowerBound%3D+2022-03-28%0D%0A&group.dateran

[2022-03-29 13:21] davidjgonzalez commented on #712
@SmritiMahto How are you constructing that initial query? It almost seems you've made that one by hand to test.

Are you using the component Search Components on the page to create that query?

It doesnt look like you're using either suggestion (using hidden predicates or the Search Predicates from the dropdown) since these constraints are listed in query parameters.

[2022-03-30 14:30] #713 closed

[2022-03-30 14:57] davidjgonzalez commented on #712
@SmritiMahto  any word on this?

[2022-03-31 18:02] davidjgonzalez commented on #712
Check the docs on how to use this: https://opensource.adobe.com/asset-share-commons/pages/search/hidden/

[code]

[2022-04-05 23:24] godanny86 commented on #714
Thanks @baldeagle1947 I can reproduce the issue.

This has caused confusion in the past and the logic of the Asset Type property isn't very clear. You also need a developer to view/extend the AssetType computed property to modify the behavior.

I'm thinking of introducing a configuration that would be set at the root of the Asset Share Commons Search page. Touch UI makes it a little ugly but hopef

[2022-04-08 18:50] Blaris commented on #468
This is actually fixed by doing the following:

is to change this file: /libs/cq/personalization/components/target/engine_cq.jsp

Look for this comment: (Line 109 in 6.5.8)
// Make the targeted content visible if no teasers were loaded after 5s

and change it to:

/* Make the targeted content visible if no teasers were loaded after 5s */

Then Replicate.  If replication does not work, use the pack

[2022-04-08 18:56] davidjgonzalez commented on #468
@Blaris just to be clear, you should never change anything under `/libs` ... `/libs` is the domain of the product, and the only thing youre allowed to "do" there is add ACLs if needed. You also need to make sure you respect the content classifications [1] even if youre going to overlay something there in `/apps`.

https://experienceleague.adobe.com/docs/experience-manager-64/deploying/upgrading/su

[2022-04-08 18:57] #468 closed

[2022-04-08 19:00] Blaris commented on #468
Correct, we are not changing any functionality of the file itself. Simply correcting a syntax error that causes issues when it is compiled. We chose to do it this way so that when/if it changes, we inherit those changes.

[2022-04-25 09:39] apoorvvermarics opened #716 "Search results component issue"
### Expected Behaviour
While searching for pdf keyword or any pdf document using my AEM author credentials I can see the link having document.html page in there. Please see the bottom of the screenshot for the URL which comes on hover.

However while using someone else credentials I see different page comes for same asset in the search list. I am not able to figure out why 2 different pages coming

[2022-04-25 14:58] godanny86 commented on #716
hi @apoorvvermarics see issue #714 . It is a permission error because the lookup to evaluate the Asset Type is based on a node structure that is protected  under /libs. I'm working on a fix.

A couple of workarounds in the mean time, you could add an ACL to make the path `/libs/dam/gui/content/assets/jcr:content/mimeTypeLookup` readable by everyone. Or you could implement a new Computed Property [

[2022-04-26 20:01] godanny86 commented on #714
hi @apoorvvermarics I'd estimate mid May to have it be in a released version.

[2022-04-27 02:29] apoorvvermarics commented on #714
Ok Thanks.
But just to make sure if you understand the issue correctly. For us 2 separate users can see 2 different URL’s getting generated for 1 asset under search results in asset library page.
Is this generation URL’s are based on permissions?

From: Daniel Gordon ***@***.***>
Reply to: adobe/asset-share-commons ***@***.***>
Date: Wednesday, 27 April 2022 at 1:32 AM
To: adobe/asset-share-common

[2022-04-27 04:09] godanny86 commented on #714
The `Asset Type` of an Asset is dynamically generated by some logic that inspects the asset's extension and then uses a lookup of a node structure under `/libs` to determine whether the asset is of type `Document`, `Image`, `Video`, etc... The `Asset Type` drives the URL mapping to the corresponding asset details page. I suspect that is what is happening in your case as well (i.e if the user doesn

[2022-04-27 04:16] apoorvvermarics commented on #714
Hi,

I have added the read permissions to path /libs/dam/gui/content/assets/jcr:content/mimeTypeLookup
For our user or group but still URL generating is different.

From: Daniel Gordon ***@***.***>
Reply to: adobe/asset-share-commons ***@***.***>
Date: Wednesday, 27 April 2022 at 9:39 AM
To: adobe/asset-share-commons ***@***.***>
Cc: Apoorv Verma ***@***.***>, Mention ***@***.***>
Subject: Re: [ad

[2022-04-27 04:23] apoorvvermarics commented on #714
@godanny86 additionally I searched our code and found that path used is /mnt/overlay/dam/gui/content/assets/jcr:content/mimeTypeLookup is this the correct path to provide permissions on?

[2022-04-27 14:13] apoorvvermarics commented on #714
@godanny86 sorry i realised that I have not published the permissions hence not working. It works now. Thanks

[2022-04-28 14:30] Shubhankar-Kumar-1 opened #717 "Asset Share Commons Share And Download buttons not functioning"
We are using Asset share commons 2.1.12 version.....we were using the share and download modals that are present but we are not able to make them work.

We believe it to be an error in the UrlImpl.java file present at the location "asset-share-commons-asset-share-commons-2.1.12\asset-share-commons-asset-share-commons-2.1.12\core\src\main\java\com\adobe\aem\commons\assetshare\content\properties\imp

[2022-04-28 23:29] davidjgonzalez commented on #717
Is this happening for every asset? If only certain ones, can you provide the path (or even better a package of an asset that doesn't work)?

Thanks!

[2022-04-29 00:56] Shubhankar-Kumar-1 commented on #717
This is happening for every asset from what we can see....

[2022-04-29 01:14] Shubhankar-Kumar-1 commented on #717
path from where we try to download: "/content/dcx-mediaplace/asc/en/home/category-page/subcategoryList/subcategoryResult.html".

Asset path example: "/content/dam/multisite/multi-brand/parts/na/multi-country/images/complementary/online-complementary/12499/1234-PIC31.jpg".

[2022-04-29 16:27] davidjgonzalez commented on #717
@Shubhankar-Kumar-1 -

What version of AEM are you one?

So it looks like the problem is the Path computed property is not active, thus not injected, thus null.

https://github.com/adobe/asset-share-commons/blob/develop/core/src/main/java/com/adobe/aem/commons/assetshare/content/properties/impl/UrlImpl.java#L74

Can you check in /system/console/components what the OSGI component registration for P

[2022-04-29 16:45] Shubhankar-Kumar-1 commented on #717
![image](https://user-images.githubusercontent.com/104577341/165987951-823e6e5f-90bd-419f-b3f8-638c89623b2a.png)

this is the component status in our aem

[2022-04-29 17:30] davidjgonzalez commented on #714
For others, here's a PR with the fix: https://github.com/adobe/asset-share-commons/pull/719

Still needs review (but its small) - and tbd if well merge based on danny's work (could be a good fallback tho)

[2022-04-29 17:31] davidjgonzalez commented on #716
Assigning to myself and mapping to https://github.com/adobe/asset-share-commons/pull/719

Well decide if went to include PR 719 as we evaluate danny's newer approach described in #714

[2022-04-29 17:32] davidjgonzalez commented on #712
@SmritiMahto - i assume you sorted this out, so im closing it. Please re-open if you have further querstions! Thanks!

[2022-05-02 10:40] Shubhankar-Kumar-1 commented on #717
I would kindly request you to help us on this matter as we are not able to fix this issue and the code is already in production...this will get escalated on our side if we don't fix this soon. We can also connect if required for this matter.

[2022-05-02 16:51] davidjgonzalez commented on #717
Hi @Shubhankar-Kumar-1  - sorry, I cannot reproduce this w/ 2.1.12 on 6.5.11 -- this all works fine for me.  So I don't know how to help you. I suggest you try reproducing this on a vanilla AEM 6.5 SP11 with vanilla ASC 2.1.12 (or even better, you should be using 2.2.0)

The exception you provided doesn't make sense since from what i can tell the only thing i can see on that line that would cause

[2022-05-03 18:01] vihangbhatt opened #721 "ContextHub throwing Error in AEM site."
**Describe the bug**
We utilize contexthub on www.kia.ca AEM website for personalization. Suddenly our contexthub is throwing an error and we have not made any changes.

**Environment**
* AEM Version: AEM Cloud 2022.4.7138.20220427T075748Z
* Asset Share Commons Version: not sure where to look
* Author, Publish or both? both

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.ki

[2022-05-03 18:41] davidjgonzalez commented on #721
This doesnt appear to be an Asset Share Commons implementation. I suggest you log an issue with Adobe Support.

Please let me know if this is Asset Share Commons releated and im somehow missing it - thanks!

[2022-05-03 18:41] #721 closed

[2022-05-03 21:26] keepthebyte commented on #721
Please use CH-279 as reference when contacting Adobe Support. Thanks.

[2022-05-04 08:28] helloerick123 opened #722 "How to make action buttons work in publish?"
Hello, we recently integrated asset share commons in our AEM Project. The action buttons (download, share link, add to cart) are working fine in our author instance but they aren't working in publish.

Download is not working.
The modals are empty for share and add to cart.
![image](https://user-images.githubusercontent.com/104753662/166646476-fdcbc35a-eb29-4e90-9a0c-222d0f0340a4.png)

Can you ple

[2022-05-04 13:24] davidjgonzalez opened #724 "ContextHub not looked up in ConfigImpl.java via inherited properties"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment**
* AEM Version: ?
* Asset Share Commons Version: ?
* Author, Publish or both?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If app

[2022-05-04 19:13] davidjgonzalez commented on #722
@helloerick123 hmm...

Are there any errors in `error.log` ?  How about any issues in the browsers JS Console / bad requests in the browser's Network tab?

The Modals are authored via their pages on AEM Author, so assuming theyre published they should display. If they arent published you shouldnt be able to get the modal at all.

[2022-05-05 12:38] davidjgonzalez commented on #324
@anuragsengupta7 are you using the Legacy rendition mode? What is the URL being printed out in the `<video src=".."` attribute?

[2022-05-17 16:33] anjuathakur opened #727 "Download, Share and Cart buttons are not working in Asset Share Commons Publish page"
Download, Share and Cart buttons are not working in Asset Share Commons Publish page while it is working fine in Author Instance of AEMaaCS

We have tried below solutions to resolve it but its not working

/conf/xxx/wcm/settings/templates
/conf/xxx/wcm/settings/policies
/etc/cloudsettings

Its a blocker for us and impacting the production go live

[2022-05-18 03:01] anjuathakur commented on #727
Kindly confirm if you have faced this in past or have some guidance around the solution

[2022-05-18 03:50] godanny86 commented on #727
hi @anjuathakur can you expand on not working? Is it a 404 error for the partial modal `.html` request or is it a javascript error? Can you share the browser console and the network requests tab using dev tools?

[2022-05-18 06:53] Jaski96 commented on #727
Hi @godanny86, there are no errors in console
Here are the issues:
**AUTHOR:**
1. The assets  share details are displayed when clicking the SHARE button.
2. Cart modal contains the details of the assets that are added to the cart.
3. DOWNLOAD button is working.   
![image](https://user-images.githubusercontent.com/105772836/168974117-65b1116f-5692-4f14-9afb-02d0e1fa0081.png)
![image](https://user-

[2022-05-18 19:23] godanny86 commented on #727
What version of AEMaaCS?
What version of AssetShare Commons?

Can you look at the parameters of the POST request to the `.partial.html`? Are the asset paths being sent?

[2022-05-18 20:45] godanny86 commented on #727
The payload for the POST request for Cart, Download, Share should all look something similar to this:

![image](https://user-images.githubusercontent.com/8974514/169152744-f53ad7f8-c7f1-4244-a2a2-636b5644b159.png)

[2022-05-18 21:42] davidjgonzalez commented on #727
Assuming a list of paths is being sent, i have to image they're not able to be converted to AssetModels in this logic:

https://github.com/adobe/asset-share-commons/blob/master/core/src/main/java/com/adobe/aem/commons/assetshare/components/actions/impl/ActionHelperImpl.java#L54-L63

[code]

[2022-05-19 05:23] Jaski96 commented on #727
Hi @godanny86, We are using ASC v2.2.0-1
The payload for the POST request for Cart, Download, Share is same for us.
![image](https://user-images.githubusercontent.com/105772836/169214522-45d8349d-dbbc-4f7e-8249-72a9cf20e946.png)

[2022-05-23 13:26] Jaski96 opened #728 "Issue while retrieving collections in publish page of ASC"
Hi, We are trying to access collections via filters in our ASC page. It works fine in our author page but on publish page it is coming as blank. Please suggest a fix for the same.
![image](https://user-images.githubusercontent.com/105772836/169829656-066082f1-6caf-4c28-9588-b6e3fcafec45.png)

[2022-05-23 13:31] anjuathakur commented on #169
Did anyone implemented it for any client?

[2022-05-23 13:43] GL369 commented on #169
2022 Update from my side - we haven't pursued this any further.  However, we just moved to CS and have added more businesses to the Asset Share.  It is a matter of time before we have a renewed interest/request.  For now, they continue to use Author for this, but it is still of interest.

[2022-05-23 13:47] anjuathakur commented on #169
Thanks for the response! What is CS?

[2022-05-23 13:55] davidjgonzalez commented on #169
**CS** is short hand for **AEM CS** which is short hand for **AEM as a Cloud Service** ... so **CS = Cloud Service**, in this context :)

[2022-05-23 13:58] anjuathakur commented on #169
Guessed so, wanted to confirm. We are also on CS, this is blocker for us to go ahead with ASC and Share link has security concerns.

[2022-05-23 14:01] davidjgonzalez commented on #169
Would you mind making a GH issue with the Share Link security concerns? FWIW - ASC's share functionality is rather rudimentary, in that it just sends an email w/ links to ASC. If the end-user doesnt have access what's on the end of those links, they cant access it.

[2022-05-23 15:07] davidjgonzalez commented on #169
@GL369 have you thought about an acceptable UX for publishing Collections? That has historically been the "blocker" for not pursuing this in the ASC project (there's not OOTB way to get the Collections TO Publish, and we didn't want to start injecting buttons/actions into the AEM Authoring experience).

[2022-05-23 15:14] GL369 commented on #169
So far, it's just a backlog story for us and we haven't explored possible solutions with the business. What if, it's not about publishing a collection form Author but making one on the Share similar to "cart" the only difference is that the 'collection" can live on and/or expire?

Perhaps, the concept of a collection on the Share is "community based" and something that any authenticated visitor ca

[2022-05-30 15:08] kwin opened #729 "Dependency to assetshare.core leads to detection of several vulnerabilities"
If you depend in your Maven project on "assetshare.core" and check the project with https://jeremylong.github.io/DependencyCheck/dependency-check-maven/check-mojo.html the following issues are found:
[code]

It probably makes sense to not transitively expose the embedded dependencies in assetshare.core but rather declare them with scope "provided". Also depending on a Maven plugin (with lots of tr

[2022-05-30 15:54] kwin opened #731 "Compilation of frontend themes fail with Apple Silicon"
**Describe the bug**

The build fails with the following error

[code]

**Environment**
Apache Maven 3.8.5 (3599d3414f046de2324203b78ddcf9b5e4388aa0)
Maven home: /opt/homebrew/Cellar/maven/3.8.5/libexec
Java version: 11.0.15, vendor: Eclipse Adoptium, runtime: /Library/Java/JavaVirtualMachines/temurin-11.jdk/Contents/Home
Default locale: en_DE, platform encoding: UTF-8
OS name: "mac os x", version

[2022-05-30 16:50] kwin opened #734 "assetshare.core must not export conditional packages (com.adobe.acs.commons.util)"
**Describe the bug**
The ACS AEM Commons dependency is an internal one (as it is embedded) and should not be exported to other bundles.
Otherwise this may lead to conflicts with installation of other versions of ACS AEM Commons.

**Environment**
* Asset Share Commons Version: 2.2.2

**Screenshots**
![Screenshot 2022-05-30 at 18 49 41](https://user-images.githubusercontent.com/185025/171034451-3dcc

[2022-05-30 16:55] kwin opened #736 "Link to Adobe Code of Conduct broken"
The link in https://github.com/adobe/asset-share-commons/blob/develop/CONTRIBUTING.md#code-of-conduct towards the Adobe Code of Conduct is broken and leads to a 404.

[2022-05-30 17:57] kwin opened #737 "Build fails with profile "analysis""
The build with profile `analysis` fails with PMD errors on the current develop branch.

[code]

This is the XML report:
[code]

There is also `analysisCI` (https://github.com/adobe/asset-share-commons/blob/8eb97f843e78c9dc8372a5a86a2a0b6dc99bb141/pom.xml#L717) but even that one doesn't seem to be active for the GitHub Actions Build (https://github.com/adobe/asset-share-commons/blob/8eb97f843e78c9d

[2022-05-31 12:55] davidjgonzalez commented on #727
@Jaski96 Were you able to uncover anything else WRT this issue?

[2022-05-31 12:56] davidjgonzalez opened #738 "Move OSGi config to a ui.config project"
**Describe the bug**

Create a ui.config project that contains all OSGI configurations.

**Environment**
* AEM Version:  Cloud Service
* Asset Share Commons Version: 2.0.0 - 2.2.2
* Author, Publish or both? both

[2022-06-01 07:41] kwin opened #740 "Relying on aem-sdk-api:latest may break runtime compatibility with AEM 6.5.x and older AEMaaCS versions"
The build creates the `Import-Package` OSGi headers from the package version of the referenced Maven dependency `com.adobe.aem:aem-sdk-api` with version range `[2022,)` (details in https://bnd.bndtools.org/chapters/170-versioning.html#import-version-policy)

This not only makes the build non-reproducable (due to the dynamic version range) but also may lead to incompatible `Import-Package` version

[2022-06-01 07:50] kwin commented on #740
Although most import-ranges are fixed in https://github.com/adobe/asset-share-commons/blob/8eb97f843e78c9dc8372a5a86a2a0b6dc99bb141/core/pom.xml#L49-L67

- some import-packages may be easily missed
- manually tweaking the import range is very error prone

If the same automatically generated ranges do not work for both AEMaaCS and AEM 6.5.7+ one should rather create dedicated bundles/packages for o

[2022-06-01 15:20] kwin opened #741 "Searching with a leading space never returns a result"
In case you search for ` adam` (notice the leading space, https://aem.enablementadobe.com/content/asset-share-commons/en/light.html?fulltext=+adam&orderby=%40jcr%3Acontent%2Fjcr%3AlastModified&orderby.sort=desc&layout=card&p.offset=0&p.limit=0) you never get any result, while both `adam` and `adam ` return a result.

As the leading space should be considered a typo the fulltext parameter should be

[2022-06-01 15:38] #734 closed

[2022-06-03 07:30] Jaski96 opened #745 "Download icon doesn't show up for some users."
Hi guys, we are not able to see download icon on top-right for some users, but some other users are able to see that download icon.
Can anyone suggest some workaround for same.
![image](https://user-images.githubusercontent.com/105772836/171808551-737144fc-c9f2-4857-852e-1c94d1391b66.png)

[2022-06-06 14:30] SmritiMahto opened #746 "Requirement for Bundled Assets"
Hi Team,
1. We are leveraging asset share commons for downloading an asset. There is a Business requirement where we can relate one asset to other(source and derived assets) called as Bundled assets and we will be generating a bundle id based on relate and un-relate.
The requirement here is when we try to download the assets in the publish environment, is there any way we an fetch all the related

[2022-06-07 01:01] amahoney949 commented on #174
Hello, I am just looking into information on ASC and any kind of analytics or reporting that is available or has been added since this post originated.

[2022-06-07 01:25] ar80001-BRONGA commented on #174
Hi @peter-g-ensemble and @amahoney949,

Sorry for the delay in reporting back on this request, and we ended up using some Adobe Consulting hours to develop custom code to support our analytics needs.

@godanny86, I have not looked at the ASC code for a while and do not know if you've developed any type of OOTB solution to support Adobe Analytics?

Thanks!

[2022-06-07 06:25] tsimlin commented on #631
Same issue for me with SP 12 (uber-jar 6.5.12). version 1.9.4 works but 2.* always lead to ClassNotFound for DownloadException

[2022-06-07 13:16] davidjgonzalez commented on #740
@kwin if you want to take a stab at creating 2 different builds and maybe adding a GAction for releasing everything - that would be great!

This is one of those things that has worked up until it doesn't, and since there arent many contributors to the project, its never received much attention. IIRC it gets worse after 2022.4+ as some OSGi wiring header versions become mismatched with whats availa

[2022-06-09 19:16] SmritiMahto commented on #746
Hi Team,
Any inputs on the requirement would be helpful.

Thanks,
Smriti Mahto

[2022-06-09 19:41] #746 closed

[2022-06-13 17:44] kwin opened #747 "Different asset detail page displayed for the same asset on author and publish"
**Describe the bug**
The "Add to cart" button in the asset details is missing for PDF on publish, while it is there on author

**To Reproduce**
1. Go to https://aem.enablementadobe.com/content/asset-share-commons/en/light/details.html/content/dam/asset-share-commons/en/public/documents/document-sample.pdf
2. See the action "Add to cart" is missing

**Expected behavior**
The same actions as for htt

[2022-06-13 17:55] kwin commented on #747
It is not clear to me which of the conditions from https://github.com/adobe/asset-share-commons/blob/develop/ui.apps/src/main/content/jcr_root/apps/asset-share-commons/components/details/action-buttons/action-buttons.html may differ by actual asset (and its type).

[2022-06-13 21:22] davidjgonzalez commented on #747
@kwin

+ `properties['addToCartLabel']`
+ `properties['removeFromCartLabel']`

...are both component properties

And `config.cartEnabled` is configured on the parent ASC Search page's page properties (there's some paths to the Cart modal, and the  checkbox).

... So the first 2:

+ `properties['addToCartLabel']`
+ `properties['removeFromCartLabel']`

Could differ by asset type, assuming those asse

[2022-06-14 05:44] kwin commented on #747
@davidjgonzalez Thanks for the hints, indeed different asset details pages are used. The reason for this seems to be https://github.com/adobe/asset-share-commons/blob/develop/core/src/main/java/com/adobe/aem/commons/assetshare/content/properties/impl/AssetTypeImpl.java#L79 which returns "DOCUMENT" for the docx asset but not for the PDF with {{dc:type}} being {{application/pdf}}. IMHO PDF should al

[2022-06-14 08:13] kwin commented on #740
Compatibility is already broken due to generating Declarative Services 1.5 metatypes (declared e.g.
 in https://repo1.maven.org/maven2/com/adobe/aem/aem-sdk-api/2022.5.7493.20220524T082827Z-220401/aem-sdk-api-2022.5.7493.20220524T082827Z-220401.pom) while AEM 6.5.x only supports OSGi DS 1.4!

[2022-06-14 08:32] kwin opened #749 "DownloadsImpls logs warning on AEM 6.5.x"
**Describe the bug**
While installing the latest ACS AEM Commons on AEM 6.5.13 the following exception can be seen
[code]
**Environment**
* AEM Version: 6.5.13
* Asset Share Commons Version: 2.2.2
* Author, Publish or both: both

**Analysis**

Although this model is supposed to only become active in case the DownloadService is available (which is only the case on AEMCS) it still throws an exceptio

[2022-06-14 14:16] davidjgonzalez commented on #749
Still good to fix - more understanding the urgency :)

[2022-06-14 23:03] amahoney949 commented on #174
Hi [ar80001-BRONGA](https://github.com/ar80001-BRONGA),

So you worked directly with Adobe or 3rd party Adobe consultant? Can you provide the general scope of your project, just so I can see what's possible? Such as, did you develop custom code to build analytics into Asset Share Commons directly? OR, build code to send ACS data back to AEM and then develop custom code in AEM to build analytics re

[2022-06-15 12:28] kwin commented on #747
This duplicates issue #714

[2022-06-15 14:04] davidjgonzalez commented on #174
I threw a line out internally to Adobe consulting folks that have implemented this for real -- but in general

1. I think the least obtrusive/simplest approach would be to write custom JS code to pull data off existing component DOM and sent it to analytics. You could also bind to DOM events (clicks, etc.) to track conversions.
If you look at the DOM of ASC, youll see there's alof of `data-asset-s

[2022-06-15 20:00] sramvg opened #751 "Download, Share don't work. AEM Version 6.5.11 ASC Version 2.2.0"
**Describe the bug**
Download and Share link don't work in Asset Share Commons publisher instance. Works fine in Author

**Environment**
* AEM Version: ? 6.5.11
* Asset Share Commons Version: ? 2.2.0
* Author, Publish or both? Publisher

**To Reproduce**
Steps to reproduce the behavior:
1. Go to page created by Asset Detail template
2. Click on 'Download or Share
4. Nothing happens

**Expected beh

[2022-06-16 18:38] davidjgonzalez commented on #751
@sramvg  Tested and this works fine on a vanilla 6.5.11 w/ 2.2.0 (you should still upgrade to 2.2.2) ...

![2022-06-16 at 2 36 PM](https://user-images.githubusercontent.com/1451868/174141684-906ce473-72e4-437f-84be-f54a4e86244e.jpg)

I'd check to see if that `path` HTTP POST request parameter is being set, and/or that that path being sent exists as a readable asset in AEM.

Closing for now since i

[2022-06-16 18:38] #751 closed

[2022-06-16 18:43] #731 closed

[2022-06-16 18:47] #729 closed

[2022-06-16 18:52] #747 closed

[2022-06-16 19:08] #724 closed

[2022-06-20 14:54] davidjgonzalez opened #752 "DRM License URL blocked by default on AEM CS Publish due to wcmmode=disabled"
**Describe the bug**

DRM License URL blocked by default on AEM CS Publish due to wcmmode=disabled. ASC code adds `?wcmmode=disabled` on to the license iframe URL even on AEM Publish. This should only conditionally add the wcmmode mode if on AEM Author (aka wcmmode=edit).

![2022-06-20 at 10 52 AM](https://user-images.githubusercontent.com/1451868/174628718-04ee88a7-81f1-407b-a3ce-5ad742537b53.jpg

[2022-06-21 21:06] kwin commented on #631
This should be solved by #754

[2022-06-22 06:29] #752 closed

[2022-06-22 06:30] #738 closed

[2022-06-27 14:46] kwin opened #761 "assetshare.ui.config not deployed to Maven Central"
The newly added Maven module "assetshare.ui.config" is not deployed to Maven Central. https://repo1.maven.org/maven2/com/adobe/aem/commons/ does not contain any "assetshare.ui.config" directory. Seems that the release process was not adjusted accordingly.

[2022-06-27 14:57] davidjgonzalez commented on #761
@kwin thanks - is the breaking the use of the latest dependency (due to the transitive dep resolution of the all package?)

[2022-06-27 15:01] kwin commented on #761
I don't want to use the `all` package in my own container package, instead I am referencing the individual packages and bundle, as otherwise I cannot resolve the package dependency on `assetshare.ui.apps`. When using the `all` container package directly it will probably work (as Maven does not need to resolve `assetshare.ui.config` in that case).

[2022-06-27 15:12] davidjgonzalez commented on #761
Gotcha - was more curious if it in fact did break builds depending on `all` (i think it will) - we of course need to release all artifacts.

[2022-06-27 16:28] #736 closed

[2022-06-27 16:30] davidjgonzalez commented on #728
How are you publishing collections to AEM Publish? And have you verified that they are permissioned correctly?

ASC doesn't have any native Collections support persay, because there is no OOTB to publish Collections from AEM Author to AEM Publish.  Ill close this issue because of this, but happy to brainstorm what you could do from a custom code POV to support this use case. If you do figure out a

[2022-06-27 16:30] #728 closed

[2022-06-27 16:31] #714 closed

[2022-06-27 16:33] #716 closed

[2022-06-27 16:34] davidjgonzalez commented on #745
@Jaski96  can you please re-open if you can provide more info. I cannot reproduce this.

Also, can you check if you have any JS errors and that you're running on AEM CS using latest ASC?

[2022-06-27 16:35] davidjgonzalez commented on #722
@helloerick123 were you able to figure this out, or provide any more info as to what the error might be?

[2022-06-27 16:36] davidjgonzalez commented on #42
This is resolved in ASC 2.0.0+

[2022-06-27 16:36] #42 closed

[2022-06-28 14:41] davidjgonzalez commented on #761
ui.config is available with 2.3.2

https://search.maven.org/artifact/com.adobe.aem.commons/assetshare.ui.config

[2022-06-28 14:41] #761 closed

[2022-06-29 09:43] kwin opened #770 "'/apps/asset-share-commons/config*' not removed when upgrading to 2.3.x leading to stale OSGi config"
The OSGi configuration has been relocated from `/apps/asset-share-commons/config*` to `/apps/asset-share-commons/osgiconfig/config*` in https://github.com/adobe/asset-share-commons/pull/739/files#diff-dd8289beea0069c67b98e3a133f49e1f73ae6a3f955668761e7a7487f700c3ca. The filter rule in https://github.com/adobe/asset-share-commons/pull/739/files#diff-56cf2c22fe3a5c458503f6aa32a4b79b48f83e57bdb6c5d88

[2022-06-29 09:48] kwin commented on #770
Here is a list of nodes, which have been created prior 2.3.0: https://github.com/adobe/asset-share-commons/tree/a3701943d5116996f391dad2148fe17967ef6b14/ui.apps/src/main/content/jcr_root/apps/asset-share-commons

[2022-06-29 16:45] #770 closed

[2022-06-29 18:02] davidjgonzalez commented on #770
Thanks @kwin !

[2022-06-30 06:26] kwin opened #773 "Code Coverage not available"
**Describe the bug**
Each GitHub action running `codecov/codecov-action@v3` emits the following error

[code]
(from https://github.com/adobe/asset-share-commons/runs/7117337296?check_suite_focus=true#step:7:1)

The last code coverage available at https://app.codecov.io/gh/Adobe-Marketing-Cloud/asset-share-commons is from over a year ago (CI with Travis).

[2022-06-30 06:32] kwin commented on #773
The reason for that is that jacoco is not executed during the Maven build. There should be a dedicated build profile collecting the coverage data like https://github.com/Adobe-Consulting-Services/acs-aem-commons/blob/7a946166da2baf9962500b9b1e6f087b0664a68e/pom.xml#L682-L736.

[2022-06-30 17:26] #740 closed

[2022-06-30 17:26] #749 closed

[2022-07-01 10:51] baldeagle1947 commented on #714
Sorry for my  late reply (your email some how moved to spam), I think the
solution you proposed  is way easier and less  magic under the hood, maybe
it will be a good think  to  change the doc accordingly.
Thanks a lot for your reactivity

Le mer. 6 avr. 2022 à 01:24, Daniel Gordon ***@***.***> a
écrit :

--
Best regards
-----------------------------------------------------------------------------

[2022-07-06 13:29] bhausahebkhamat opened #781 "User menu's profile is not loading on first time"
The User menu's profile is not loading the first time, it is blank and it will work on the next page load.
We are suspecting that some function from the profle.js is not loading on time, there is a slight delay.

[2022-07-07 08:46] ceciledupas opened #783 "Download links and share email links not working when switching publishes"
Hi,

We are working with the Asset Share Commons on **AEM as a Cloud Service** and we encountered an issue with download links and share email links which are not working when switching publishes.

Are these links supposed to be synchronize between publishes ?
Do you have any idea how can we manage that with AEMaaCS ?

Thank you,
Cécile.

[2022-07-07 13:18] ceciledupas commented on #783
In AEMaaCS several publishes are created depending on activity, and users access one of them randomly.

We are using 2.1.12 Asset Share Commons version, and did tests by updating our project with the latest version 2.3.4.

Asset Share works well, it's only content created under /var/dam/download and /var/dam/share which is not available over all publishes but only on the publish where the download

[2022-07-07 15:26] davidjgonzalez commented on #783
Oh - I see! Thank you for clarification!

It sounds like your publish pod affinity is not "sticking". I will check with AEM engineering if there is anything new that's required for this to persist - im on vaca until  monday - you could create adobe support ticket if you want a quicker answer -- just make sure they understand this isn't a ASC question, but rather what is required for the AEM Downlo

[2022-07-08 11:50] ceciledupas commented on #783
Hi,
Thank you for your answer.
I already created a support ticket and I have been talking for two days with Adobe support team.
I hope to have a quickly answer on how we can synchronize publish content under /var/dam/download between all publishes in the farm.
Good holidays !

[2022-07-08 12:59] davidjgonzalez commented on #783
Let me know what you find out! Thanks!

[2022-07-09 15:06] udaykumarAEM opened #784 "Download cart is not working for video assets in publisher"
Download cart is not working for video assets in publisher.
It is working in the author though.
could not see the error logs for this issue.
The response error code is 504 for the request in the page
The asset share Commons version is 1.9x and we are using AEMaaCS latest version.

[2022-07-09 17:23] davidjgonzalez commented on #784
You must use ASC 2.x for AEMaaCS. Please use latest as there have been a few bug fixes for CS since 2.0.0

[2022-07-11 16:18] davidjgonzalez commented on #783
@ceciledupas Make sure you are not changing/removing the AEM CS affinity cookie -- this is how you are stickied to an AEM CS Publish Pod.  You can always watch and see if the affinity cookies values changes frequently between requests which would indicate its stickiness is somehow lost.

Keep in mind the AEM Download Framework tracks download on the pod that handled the download request - and ther

[2022-07-11 19:04] davidjgonzalez commented on #784
If you continue to have issues using the latest ASC 2.x on AEMaaCS please re-open w/ details.

[2022-07-11 19:04] #784 closed

[2022-07-11 19:05] davidjgonzalez commented on #781
@bhausahebkhamat can you provide the version of ASC and version of AEM?

[2022-07-18 16:36] abburiakil opened #794 "Guess Total In asset share commons search results"
Hi Team,
We have Use case for guess total in search results page-Guess total.
The Guess Total Count is Coming as 2000+ if there are more than 2000 results for a search as the maximum limit of asset share commons is 2000 only. In our case we need to extend the guess total to get the exact value.

Any guidance/help will be appreciated. Thanks in advance!

[2022-07-18 21:30] davidjgonzalez commented on #794
What limit do you need? The problem is as the limit is relaxed, it will eventually result in system degradation.

Also, curious, what is the use case for knowing if they're are 1000 (the max limit) or 1001 results? What is the user going to do with that info? Once you get into the 100s and 1000s the usefulness starts of exact counts becomes dubious

[2022-07-19 15:47] abburiakil commented on #794
Hi David,
Thanks for the response.
We have a need to display the total assets available and We need max limit to be extended to 5000, is there any way we can get the exact count for the search results?

[2022-07-19 16:05] davidjgonzalez commented on #794
@abburiakil what happens when you have 6000 assets, will this # have to be increased again? At what point will you stop needing to increase it?

The max limit is currently hard-coded to prevent people from creating putting in a high guessTotal and causing themselves performance issues. What exactly are you going to do w/ the exact count thats in the 1000s -- ie whats the business requirement? Mayb

[2022-07-21 02:41] SmritiMahto commented on #794
Hi David,
The Business use case is to fetch the search results count on runtime. If suppose the user searches for mov and the mov mime type assets are 3045 and mp4 as 8k the search results count should be displayed based on that. As now the guess total count is displayed as 2000+ or 1000+ the end users are unable to figure out how many exact total number of assets are there.
Is there any ways we c

[2022-07-28 15:12] SmritiMahto commented on #794
Hi David,
Any update on the Business use case.

Thanks,
Smriti Mahto

[2022-07-28 17:17] davidjgonzalez commented on #794
Hi @SmritiMahto Displaying an exact number in itself isn't a business case -- the business case is what someone is doing/deciding based on that number.

You state:

...but don't explain what the end user is going to do with that exact number, and why they can't do it knowning there are over 1,000 results.

Also, I checked w/ the AEM product team stated the safe max guessTotal is 1000, so we wont w

[2022-08-22 14:57] Lovekeshgoel opened #802 "We are getting below error in the console for the cart store."
Hi,

We are getting below on the console in every page of asset share common.

We have migrated to Asset Share Common of the version 2.0.6

PFA of the error

![image](https://user-images.githubusercontent.com/111757113/185952560-116f18a3-cf22-4d1d-9151-c066e2fab205.png)

![image](https://user-images.githubusercontent.com/111757113/185952699-0779737f-d65e-410d-9f81-cb9c1ccaf3b6.png)

Thanks
Lovekes

[2022-08-24 15:13] Lovekeshgoel commented on #802
@davidjgonzalez Can you please check this once?

[2022-08-24 15:23] davidjgonzalez commented on #802
Is this an old version of ASC? We replaced the use of contexthub some time ago.

[2022-08-25 09:07] Lovekeshgoel commented on #802
We have developed the application on lower version. Now we have migrated to new version 2.0.6. But we are not exactly sure how to handle this above error as Asset Share Common change has been done.

[2022-08-25 14:20] Lovekeshgoel opened #803 "We are facing one more issue on share functionality for Documents"
Hi Team,

When we share any document from asset share common it is going to the wrong URL.

PFB the URL :- [/asc/en/home/details.html/content/dam/multisite/fendt/parts/multi-region/documents/testMRMstock5.pdf]

It should be coming like this

[/asc/en/home/details/document.html/content/dam/multisite/fendt/parts/multi-region/documents/testMRMstock5.pdf]

For Image and Video it is working fine. We ha

[2022-08-29 15:26] davidjgonzalez commented on #803
@Lovekeshgoel - sorry for the delay! I was out on holiday last week!

The Details page is selected using the AssetType computed property (it takes that value, lower-cases it and turns spaces to -, IIRC) .. so it sounds like the PDF asset type does not equal "document".

The asset type is computed based on some "internal" AEM logic .. .but as you can see on the ASC demo site, the "Asset type" of a

[2022-08-29 15:26] #803 closed

[2022-08-29 15:33] davidjgonzalez commented on #802
@Lovekeshgoel it looks like youre somehow using ASC v1 JavaScript (cart-badge.js) with some ASC v2 javascript? Did you copy-down some v1 JavaScript into your case base at some point? If you did youll need to update it to use v2.

As you can see, that error'ing line was removed https://github.com/adobe/asset-share-commons/commit/9eb48cbf0c19a9e8a3e8c0f4d00e98ea3a963136#diff-a01c5c16d5e722190d532cdd

[2022-08-29 15:33] #794 closed

[2022-08-30 14:42] kiranGuptaInfy commented on #802
Hi @davidjgonzalez, we have some list of assets in our database and we want to display these assets using ASC with download & share, sorting and load more functionality. Is there any way we can implement it?
Please help us.
Its really urgent .
Thanks in advance.
Waiting for your response

[2022-08-30 15:04] kirnGuptaa opened #804 "Can we use ASC functionality with some custom component?"
**Can we use ASC functionality like download, share & load more with some custom component?**

Hi @davidjgonzalez,

we have created a new component in this we have to display some list of assets. These assets paths are present in our database rows and have some extra column in it.

We are getting these rows based on some conditions from our backend service with the help of AEM Models & looping the

[2022-08-30 15:50] davidjgonzalez commented on #804
If the files themselves dont atleast have a "shell" dam:Asset node in AEM, you may run into problems, since ASC assumes assets surfaced by it are in AEM. But you can try hooking into the Download/Share/Cart function by adding data-* attributes to your custom component item entires. If the modals pop-up but there are no assets listed, its likely that whatever value youre passing via data-asset-shar

[2022-09-02 11:11] bartoszWesolowski opened #805 "Unable to install app on aem 6.5.9"
**Describe the bug**
Installing the all package on AEM 6.5.9 (with all required dependencies present) fails due to missing cloud dependencies:

[code]
![2022-09-02_13h05_48](https://user-images.githubusercontent.com/9348327/188126638-34e4f10e-af38-46f4-b55e-97a18990c86f.png)

I followed instructions from [documentation](https://opensource.adobe.com/asset-share-commons/pages/getting-started/new-pro

[2022-09-02 13:11] Jaski96 opened #806 "Regarding Issue of Date Range Filter not giving appropriate results."
**Describe the bug**
We are having issues in getting all search results for date range filter. In this filter, we have two input fields for Start Date and End Date. When we select start date and then end date and click apply button to get search results, then it's not giving us results specifically for assets on end date.

**Environment**
* AEM Version: 2022.7.8085.20220725T140323Z
* Asset Share C

[2022-09-02 22:33] davidjgonzalez commented on #805
Hi! This is expected for 6.5 since the AEM CS download framework is not available on 6.5. This is why these imports are optional.

That said, ASC should fall back on 6.5 to an internal implementation that supports downaloads being orchestrated in the AEM JVM. Please let us know if the download aren't working on 6.5 -- vs just having an optional dependency being unsatisfied (again, it's optional fo

[2022-09-03 02:09] davidjgonzalez commented on #806
@Jaski96 can you show a screenshot of the component configuration? thanks!

[2022-09-03 05:32] Jaski96 commented on #806
![image](https://user-images.githubusercontent.com/105772836/188257240-05e310ce-f2ef-44c4-be3b-e0c93a606225.png)
Assets on end date as shown in above comment. We have set license expiration date as 2022-9-2 for End Date input field but asset is not retrieved in search result.

[2022-09-03 09:25] bartoszWesolowski commented on #805
Hi @davidjgonzalez

You are right - missing imports are optional and they do not cause the problem with this bundle. As far as I understand bundle was failing to start because of missing dependency (based on the error log)

[code]

and mostly this part of the log `(osgi.contract=JavaActivation)(version=1.2.0)`.

I checked the [documentation ](http://docs.osgi.org/reference/portable-java-contracts.

[2022-09-13 15:34] kwin commented on #805
This is a regression of #767. Using dependabot on OSGi dependencies is usually not helpful.

[2022-09-14 01:38] davidjgonzalez commented on #805
@bartoszWesolowski This should be fixed in 2.4.0 (just released) - thanks to @kwin for spotting this.

I tested it on my 6.5.9 and everything resolves.

[2022-09-14 01:39] #805 closed

[2022-09-14 01:40] davidjgonzalez commented on #802
@Lovekeshgoel im going to close this, but please feel free to re-open if you have more info/require further clarification.

[2022-09-14 01:40] #802 closed

[2022-09-14 01:40] davidjgonzalez commented on #717
Closing. Please re-open of you need more help.

[2022-09-14 01:40] #717 closed

[2022-09-14 01:41] davidjgonzalez commented on #727
Closing - but please re-open if you are still experiencing this problem/can provide more details.

[2022-09-14 01:41] #727 closed

[2022-09-14 01:42] davidjgonzalez commented on #806
@Jaski96 the date range seems to work for me -- are you sure that the property is being saved as a Date field? and indexed as such as well?

[2022-09-14 01:42] davidjgonzalez commented on #804
Please re-open if you have further questions!

[2022-09-14 01:42] #804 closed

[2022-09-14 07:40] #631 closed

[2022-09-14 07:47] kwin opened #818 "Version 2.4.0 not available in Maven Central"
Maven Central does not have the most recent version 2.4.0 (https://repo1.maven.org/maven2/com/adobe/aem/commons/assetshare/).

[2022-09-14 13:04] davidjgonzalez commented on #818
@kwin it appears to be in the oss release repo.

i've logged an issue w/ them inquiring why it hasnt made it to maven central yet: https://issues.sonatype.org/browse/MVNCENTRAL-7623

[2022-09-14 15:18] kwin commented on #818
I see, finally Sonatype confirmed there is an issue at https://status.maven.org/incidents/wk2ylsb6byc3.

[2022-09-14 17:41] davidjgonzalez commented on #818
Looks like its there now:

https://repo1.maven.org/maven2/com/adobe/aem/commons/assetshare.all/2.4.0/

[2022-09-14 17:41] #818 closed

[2022-09-15 22:23] broc-hoodoo commented on #722
Hey, i'm having the issue with download modal not working properly. All it does when i click download in the download modal is redirect to a .json page here: /content/dam.downloadbinaries.json and this just shows the full json with a success. but no download ever happens. Also with testing different images, each different download JSON path that shows has the same query params of downloadID and ar

[2022-09-16 00:07] davidjgonzalez opened #819 "Content package has malformed XML"
**Describe the bug**

It's reported the content package exhibits this error:

[content-packages-validation] asset-share-commons:asset-share-commons.ui.apps:zip:cp2fm-converted:2.3.4: ValidationViolation: "jackrabbit-docviewparser: Could not parse FileVault Document View XML: Unknown namespace prefix used in file name 'cq:template'", filePath=jcr_root/apps/asset-share-commons/components/modals/down

[2022-09-19 02:20] kwin commented on #819
This indicates not really malformed XML as the undeclared namespace is only used in the filename. Compare with https://github.com/adobe/aemanalyser-maven-plugin/pull/163#issuecomment-1165399863 and https://issues.apache.org/jira/plugins/servlet/mobile#issue/JCRVLT-639.

[2022-09-19 13:54] davidjgonzalez commented on #819
Thanks @kwin - so looks like we can update the FV plugin version to resolve this.

[2022-09-19 14:18] kwin commented on #819
I am not sure this error really came from Maven or from the additional validation steps being performed by Cloud Manager.
If it is the former most probably an update of the aem-analyser-maven-plugin would be necessary, if it is the latter, then cp2fm would require an update. Both things are outside of this project's scope...

[2022-09-19 14:20] #819 closed

[2022-09-22 06:41] Jaski96 commented on #806
@davidjgonzalez Let me explain in two scenarios.
**Scenario-1** I used one asset with expiration date set as 2022-09-22. So, now If I use date range filter by setting date for start  date and end date as 20 Sep and 22 Sep respectively as shown in below screenshot and click apply button for searching.
![image](https://user-images.githubusercontent.com/105772836/191674207-d0524b9a-75ad-4677-91aa-3bd

[2022-10-21 17:23] amanmishra17 opened #825 "Handling Special Characters in the Asset Share Commons search bar."
Hi Team,
We have a free text search requirement in our application, for that we have leveraged the asset share commons search functionality, however we are not able to handle search keyword if it has special character such as **'&', '.', '*',** etc.

Example if we have a keyword search like 'Awards & Accolades', then in search bar it only takes the first part i.e. Awards and gives result based on

[2022-10-21 22:30] davidjgonzalez commented on #825
Have you tried putting the term in double quotes? .. so:

"awards & accolades"

Else AEM search will search for "awards" and "accolades" .. which should give you pretty similar results actually

[2022-10-24 09:52] Lovekeshgoel opened #826 "We are not able to install the asset share common package on local"
**Describe the bug**
While installing the asset share common version 2.1.12 on AEM local it is not working. The bundle is not getting activated.

**Environment** LOCAL
* AEM Version: 6.5.11
* Asset Share Commons Version: 2.1.12
* Author, Publish or both? on Author

PFB the screenshot for the same :-

![MicrosoftTeams-image (13)](https://user-images.githubusercontent.com/111757113/197499484-6345e67

[2022-10-24 13:46] Lovekeshgoel commented on #826
Resolved

[2022-10-24 13:46] #826 closed

[2022-10-24 13:56] davidjgonzalez commented on #825
@amanmishra17 If you need, you can always do some customization where you can read/manipulate the fulltext search term before it gets processed by the AEM Search engine.

For example, you can implement an OSGi service that implements: https://github.com/adobe/asset-share-commons/blob/develop/core/src/main/java/com/adobe/aem/commons/assetshare/search/providers/QuerySearchPreProcessor.java

and you

[2022-10-24 14:01] marwellazure opened #827 "QuerySearchProviderImpl's cleanParams method removed the p.guessTotal this way ending up in traversal with big amount of assets"
We have an environment will hundreds of thousands of assets, from which we would like to show assets based on different metadata.
While the query is executed to show the results sometimes the query times out and in the logs we can clearly see that the query ends up in index traversal which could be avoided if p.guessTotal parameter will be specified.

After looking into the code it was obvious tha

[2022-10-24 14:24] #827 closed

[2022-10-24 15:26] davidjgonzalez commented on #826
For posterity, it appears core components were not installed. ASC requires core components to be installed.

[2022-10-25 09:04] vivekmalviya0104 opened #828 "Download is not working with 2.4 version"
I have installed the latest 2.4 version on AEM with sample content but downloading the asset shows this on browser:

The web page at *http://localhost:6502/content/asset-share-commons/en/light/actions/download/_jcr_content/root/responsivegrid/download.download-asset-renditions.zip* might be temporarily down or it may have moved permanently to a new web address

in the error.log:

[code]

Moreover,

[2022-10-25 10:20] #702 closed

[2022-10-25 11:27] davidjgonzalez commented on #828
Are you using the cloud classifier in your ASC all maven dependency?

https://opensource.adobe.com/asset-share-commons/pages/getting-started/new-project/

   <dependency>
    <groupId>com.adobe.aem.commons</groupId>
    <artifactId>assetshare.all</artifactId>
    <version>2.x.x</version>
    <classifier>cloud</classifier>
    <type>zip</type>
  </dependency>

[2022-10-25 13:08] vivekmalviya0104 commented on #828
Hello David,
Thanks for your response. Indeed the dependencies are there and I can see both core and core-fragment bundle Active in the console:
![Screenshot 2022-10-25 at 15 07 37](https://user-images.githubusercontent.com/80326802/197781237-2e32a8af-bcf2-466f-a10e-1723ab98c436.png)

[2022-10-25 14:15] davidjgonzalez commented on #828
@kwin it doesnt appear that Sling Models or OSGi components are being registered from the new Core Cloud Fragment bundle. Any idea what could be going on?

For example, The RequireAemCanaryImpl is not being recognized as a OSGi component/service for RequireAemCanary - thus making ASC think its running on AEM Classic and not AEM CS.

Similarly, it doesnt appear the Downloads Sling Model (in the Fra

[2022-10-25 15:18] kwin commented on #828
For Sling Models the bundle manifest configuration for models (https://sling.apache.org/documentation/bundles/models.html#bundle-manifest-configuration) from the fragment is not considered due to https://docs.osgi.org/specification/osgi.core/7.0.0/framework.module.html#framework.module.fragmentbundles (i.e. only very few manifest headers are merged).

[2022-10-25 16:23] #828 closed

[2022-10-25 16:32] vivekmalviya0104 commented on #828
Hello @davidjgonzalez , @kwin ,
Thanks a lot for fixing it. Could you please tell me how I can integrate this fix within the release 2.4.0 which I am already using in my current project ?

[2022-10-25 18:35] davidjgonzalez commented on #828
Thanks for @kwin for the quick fix!

@vivekmalviya0104  the fix is in ASC v2.4.2 - can you upgrade to that please?

[2022-10-26 11:26] vivekmalviya0104 commented on #828
@davidjgonzalez , yes after upgrading to 2.4.2 it works!
thanks a lot again.

[2022-10-26 17:26] dsandqui opened #834 "Download from Cart Results in NoClassDefFoundError"
**Describe the bug**
When downloading files from the Cart, after selecting the download options and clicking the Download button, the result is a NoClassDefFoundError exception for the ACS AEM Commons class com/adobe/acs/commons/util/BufferedServletOutput:

[code]

The exception occurs in both the customer solution I am supporting and after deploying the "OOTB" assetshare.ui.content.sample-2.4.0.z

[2022-10-27 07:27] dsandqui commented on #834
I have since found the cause of this issue and at least partial fix.  In the configuration for the bnd-maven-plugin of the asset-share-commons core module pom, there is a setting -includeresource that specifies classes from the acs-aem-commons-bundle that should be embedded instead of embedding the entire bundle.  There are three classes listed in the pom for version 2.4.0.  I added the BufferedSe

[2022-10-27 12:12] davidjgonzalez commented on #834
@kwin i think this was changed in the split of the core bundle, any thoughts?

[2022-10-28 05:16] kwin commented on #834
This is a regression of https://github.com/adobe/asset-share-commons/commit/013972794fa4be9fbdae3884821f66f4dc5d9fb5#diff-8d04401f1cc51365fe3e32f019cd720135ba920a1a7da7f19e9c9208478701fcR43 which limited the embedded classes.

[2022-10-28 08:32] kwin commented on #834
I fail to reproduce. @dsandqui can you please try to describe exactly how to reproduce with https://github.com/adobe/asset-share-commons/tree/develop/ui.content.sample?

[2022-10-28 09:18] dsandqui commented on #834
I have been testing on my local AEM author instance, which was built using the latest cloud SDK (2022.10.xxxxxxx).  I’ve also tested on the customer’s AEMaaCS Dev author instance, with the same result.  Here are the steps:

1. Logon to AEM and navigate to Sites.
2. Select asset-share-commons, then en, then dark.
3. Click the checkbox for the dark theme and select edit. You should now see the page

[2022-10-28 09:46] kwin commented on #834
@dsandqui For me it says "Download queued" after step 8. I was testing with AEM Version 2022.7.8085.20220725T140323Z.

[2022-10-28 10:14] kwin opened #837 "Errors during processing (minification) of client libraries"
**Describe the bug**
Some errors can be seen after deploying the client libraries to AEM Cloud SDK

**Environment**
* AEM Version: Version 2022.7.8085.20220725T140323Z
* Asset Share Commons Version: latest develop (2.4.3-SNAPSHOT)
* Author, Publish or both?

[code]

and

[code]

[2022-10-28 10:25] kwin commented on #837
GCC used for minification in AEM uses `ECMASCRIPT5` as input language level (https://experienceleague.adobe.com/docs/experience-cloud-kcs/kbarticles/KA-16544.html?lang=en)

The following options are supported:

AEM 6.5 and AEM SDK 202010 uses GCC version v20190121

- ECMASCRIPT3
- ECMASCRIPT5
- ECMASCRIPT5_STRICT
- ECMASCRIPT_2015
- ECMASCRIPT6_TYPED
- ECMASCRIPT_2016
- ECMASCRIPT_2017
- ECMASCRIP

[2022-10-28 13:52] #837 closed

[2022-10-28 13:52] #834 closed

[2022-10-28 20:06] davidjgonzalez commented on #834
hi @dsandqui  - @kwin's fix is in 2.4.4 - i checked and it works on 6.5.13 - can you check it out and let us know if it fixes your issue?

[2022-10-31 06:43] kwin commented on #531
Since Nov. 2020 all releases are available on Maven Central.

[2022-10-31 06:43] #531 closed

[2022-11-03 17:27] davidjgonzalez opened #848 "Asset kit creation"
**Is your feature request related to a problem? Please describe.**

Add a quick way for authors to create Press Kit pages in AEM that list sets of assets.

This would be ancillary functionality to the core ASC product, but would use ASC abstractions such as AssetModels, ComputedProperties, etc.

**Describe the solution you'd like**

1. Allow an assets author to specify assets to include in a press

[2022-11-07 06:07] amanmishra17 opened #849 "Thumbnails issue on asset details page for zip file."
Hi Team, we have a thumbnail issue in our application for zip file. The issue is we are getting thumbnail on the card view on the search results page,

<img width="755" alt="image" src="https://user-images.githubusercontent.com/42470428/200235520-c5320400-7c58-42d5-858f-19dcfd7d20e6.png">

however we are not getting the thumbnail on the asset details page, although at both the places we using the

[2022-11-10 14:46] GL369 opened #852 "Is there a Demo site for V2"
**Question?**

I often use and share the Demo site to observe OOTB functionality and operations to compare against our modifications.  However, it appears that there isn't a demo site for V2 (or at least I am not seeing a link) I am basing this on the absence of the "download" model on the demo site...

Documentation can be found here: https://opensource.adobe.com/asset-share-commons/. It might an

[2022-11-21 23:16] kenwoodward opened #856 "Minification on clientlib-dependencies throwing JS errors"
**Describe the bug**
The recent change to the jsProcessor on client-dependencies is causing jQuery to break.  The vendor JS is being minified when previewing a page as published (wcmmode=disabled).  The JS is minified be default.  The jsProcessor needs to be set to min:none; default:none for already minified files.

**Environment**
* AEM Version: AEMaaCS
* Asset Share Commons Version: 2.4.4
* Auth

[2022-11-21 23:58] davidjgonzalez commented on #856
@kwin was this change working for you?

[2022-11-22 00:00] kenwoodward commented on #856
@davidjgonzalez I tested this on a customer implementation and setup a fresh local implementation and saw the same behavior.  Was hoping @kwin could verify.

[2022-11-22 05:51] kwin commented on #856
@kenwoodward Can you come up with a fix? I won’t be able to dig into this this week but even double minification shouldn’t be a problem. Do you see errors in the log when the minified clientlib is built?

[2022-11-22 15:21] kenwoodward commented on #856
@kwin Setting the jsProcessor back to "min:none; default:none" on that client library fixes the issue.  I will dig a little deeper today and see if I can find what exactly is occurring during minification before submitting any PRs.  I've tried adding each vendor clientlib individually and at first glance it seems that modernizr and jquery are not playing nice together when minimized a second time.

[2022-11-22 18:30] kenwoodward commented on #856
@kwin I am getting 1 warning when compiling that clientlib:

com.google.javascript.jscomp /apps/asset-share-commons/clientlibs/clientlib-dependencies.js:340: WARNING - unreachable code...

That warning is followed by a printout of the clientlib and ending with:

e&&C.jQuery===k&&(C.jQuery=Qt),k},e||(C.jQuery=C.$=k),k}); _

[2022-11-22 19:22] davidjgonzalez commented on #856
@kenwoodward @kwin

`/apps/asset-share-commons/clientlibs/clientlib-dependencies`

Setting `jsProcessor` to `min:gcc;languageIn=ECMASCRIPT_2015;languageOut=ECMASCRIPT_2019`, `default:none` seems to work.

[2022-11-22 19:23] kenwoodward commented on #856
The problem seems to be with the version of Modernizr and ES5 vs ES6.

Here is what i did to confirm the problem.

1.  Changed the jsProcessor to min:gcc;languageOut=ECMASCRIPT_2015 and it fixed the JS issues.  This essentially just set "languageIn" to ECMASCRIPT5.
2. I reset the jsProcessor back to its ASC default - min:gcc;languageIn=ECMASCRIPT_2015;anguageOut=ECMASCRIPT_2015
3. I reviewed the o

[2022-11-22 19:26] davidjgonzalez commented on #856
@kenwoodward I like options 3  and 2 .. TBH im not sure what the impact of removing modernizr would be at this point. Might be easier to upgrade to 3.6.0?

Or we could do a quick smoketest with removing modernizr. (Less is more IMO, so if we can get rid of something - im all about that)

[2022-11-22 19:45] kenwoodward commented on #856
@davidjgonzalez the quick fix would be to update Modernizr.

I agree that less is more and the better fix would be to smoke test the removal of Modernizr (and maybe even FormData Polyfill).

[2022-11-22 20:00] davidjgonzalez commented on #856
Do you have a link to modernizr 3.6.0 download you tried it with?

Idk why all I'm seeing is the "build you own" ...

[2022-11-22 20:04] kenwoodward commented on #856
I grabbed this from the top of the current ASC version.  It was a custom build before.  This will give you the 3.6.0 version

https://modernizr.com/download/?applicationcache-audio-backgroundsize-borderimage-borderradius-boxshadow-canvas-canvastext-cssanimations-csscolumns-cssgradients-cssreflections-csstransforms-csstransforms3d-csstransitions-flexbox-fontface-generatedcontent-geolocation-hashcha

[2022-11-22 20:22] davidjgonzalez commented on #856
tested out updating to that v3.6.0 and looks good. Cutting v2.4.6 with it now!

[2022-11-22 20:24] davidjgonzalez opened #859 "Update/remove JS / CSS dependencies"
**Is your feature request related to a problem? Please describe.**

We should remove, and remove if possible, the Vendor JS dependencies, especially Modernizr and Form-Data polyfill.

Other interesting candidates include:

1. Remove jQuery dependency (not sure if there's a tool that will convert jQuery to native JS?)
2. Update the search results to use FlexGrid/Box instead of the JS alignment used

[2022-11-22 20:26] davidjgonzalez commented on #856
Thanks for helping solve this one @kenwoodward! I also made an issue to update/remove some of the legacy JS/CSS stuff in the project aswell.

[2022-11-22 20:26] #856 closed

[2022-11-22 20:32] davidjgonzalez commented on #856
@kenwoodward done! 2.4.6 has been released, usually takes a few mins to sync across maven central.

[2022-11-23 11:34] RahulMohann commented on #536
Any hope on this?

[2022-11-23 17:26] GL369 commented on #848
Hey David,  this would be a good addition.  Here is the current Old Navy press kit:  http://oldnavypresskit.com/  perhaps some of the features they're using would be useful to others?

[2022-11-23 19:03] davidjgonzalez commented on #848
@GL369 Wow the the Old Navy press kits look great! I'm curious wrt to your thoughts on press kit creation and how/what parts would need to be flexible.

1. What ways do you see the assets in a collection being defined.
  - Assets in a Folder (how about sub-folders of a folder)
  - Assets in a Collection
  - Assets as part of a search result?
  - Assets selected ah-hoc (how? drag and drop onto a we

[2022-11-23 19:30] GL369 commented on #848
These are good questions, and I am not sure I can address all.  I can put you in direct contact with the site owner and that may help with specifics. From the current site, these are a sub-set of the full product offerings and have been selected for Press Kit. If you look at the DOWNLOADS section, they're adding these images to Box and using the OOTB UI.  I am sure they're happy with how simple it

[2022-11-23 20:00] GL369 commented on #852
@davidjgonzalez _ I thought I would ask you about this since we're chatting on the Press Kit.

[2022-11-24 14:32] davidjgonzalez commented on #852
Im embarrassed to say, I'm trying to find out who can grant me access the demo server we were borrowing space on to host it. There was some internal reshuffling and I lost track of it. Once/if I figure it out, I plan on updating to latest. :)